{% extends "::base2.html.twig" %}
{% block body %}



<section>
	<div class="container">
		<div class="col-md-12 sal">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">NOME E COGNOME</h2>

			</div>

			<div class="col-md-3 col-sm-3 col-xs-5">
				<a href="portfolio-item.html">
					<img class="img-responsive img-hover img-circle img-docenti" src="{{ asset ('img/harper.jpg')}}" alt="">
				</a>
			</div>
			<div class="col-md-7 col-sm-7 col-xs-7 bordo">
				<div class="col-md-8 col-sm-8 col-xs-8">

					<span class="ciccio"><b> </b>              <br>
						<ul>

							<li><strong>Email:</strong> johndoe@gmail.com</li>
							<li><strong>Città:</strong> Boston</li>
							<li><strong>Età:</strong> 31</li>
							<li><strong>E-mail:</strong> luca@gmail.com</li>
							<li><strong>Livello scolastico</strong> università</li>
						</ul></span>              <br>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4">
						<p class="prezzo"><strong>20 $/ora</strong> </p>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12 bordo">
						<div class="col-md-8 col-sm-8 col-xs-8">
							<span class="ciccio"><b>INFO PERSONALI: </b>              <br>
								cacca, pipi, gianni, morandi <br>
							</span>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 bordo">
						<div class="col-md-8 col-sm-8 col-xs-8">
							<span class="ciccio"><b>FORMAZIONE: </b>              <br>
								Ingegneria<br>
							</span>
						</div>
					</div>

				<div class="col-md-12 col-sm-12 col-xs-12 bordo">
					<div class="col-md-8 col-sm-8 col-xs-8">
						<table class="table table-hover">
							<thead class="T-blue">
								<tr>
									<th style="text-align: left;" class="T-blue" >Giorno</th>
									<th style="text-align: left;" class="T-blue">Orario</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="T-blue">Lunedì</td>
								</tr>
								<tr>
								<td class="T-blue">Martedì</td>
								</tr>
								<tr>
								<td class="T-blue ">Mercoledì</td>
								</tr>
								<tr>
								<td class="T-blue ">Giovedì</td>
								</tr>
								<tr>
								<td class="T-blue ">Venerdì </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>

</section>

{% endblock %}
