{% extends "::base2.html.twig" %}
{% block body %}






    <section>
      <div class="container">
	<div class="row">
	  <div class="col-md-8">
	    <div class="profile">
	      <h1 class="page-header">John Doe</h1>
	      <div class="row">
		<div class="col-md-4">
		  <img src="img/team/3.jpg" class="img-thumbnail"/>
		</div> <!-- col md 4 -->
		<div class="col-md-8">
		  <ul>
		    <li><strong>Name:</strong> John Doe</li>
		    <li><strong>Email:</strong> johndoe@gmail.com</li>
		    <li><strong>City:</strong> Boston</li>
		    <li><strong>State:</strong> Massachusetts</li>
		    <li><strong>Gender:</strong> Male</li>
		    <li><strong>Profession:</strong> Web Developer</li>
		  </ul>
		</div> <!-- col md 8 -->
	      </div> <!-- row -->

	      <br/><br/>
	      <div class="row">
		<div class="col-md-12">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title">For</h3>
		    </div>
		    <div class="panel-body">
		      <form>
			<div class="form-group">

			</div>

			<div class="pull-right">

			</div> <!-- pull-right -->
		      </form>
		    </div> <!-- panel body -->
		  </div> <!-- panel -->
		</div> <!-- cold-md-12 -->
	      </div> <!-- row -->

	    </div> <!-- profile div -->
	  </div> <!-- md 8 -->

	  <!-- SIDEBAR -->
	  <div class="col-md-4">


	    <div class="panel panel-default groups">
	      <div class="panel-heading">

	    </div> <!-- groups panel -->

	  </div> <!-- md 4 -->

	</div> <!-- row -->
      </div> <!-- container -->
    </section>

{% endblock %}
