{% extends "::base2.html.twig" %}
{% block body %}
<br> <br> <br>
{{ form_start(form, {'method': 'post',  'attr': {'class': 'login-form'}}) }}
{{ form_widget(form) }}


{{ form_end(form), {'action': path('docenti')} }}

</div>
</div>


{% endblock %}
